<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agentapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EaseMyRide">
        <activity
            android:name=".AgentOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AgentOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AgentMapActivity"
            android:exported="false" />
        <activity
            android:name=".AgentHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".AgentForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AgentmobileVerfActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".AgentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AgentResgistrationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>